<table id="aro_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th style="min-width: 200px">Piloto</th>
        <th>Fecha</th>
        <th>Aeronave</th>
        <th>Matricula</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Mission</th>
        <th>Zona</th>
        <th>Salud</th>
        <th>Situacion</th>
        <th>Descanso</th>
        <th>Aceptabilidad</th>
    </tr>
    </thead>
</table>